<form [formGroup]="addConfrenceForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" placeholder="title" formControlName="title" required />
  </div>
  <div class="form-group">
    <label for="year">Date:</label>
    <input type="date" formControlName="year" required />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input
      type="text"
      placeholder="Description"
      formControlName="description"
      required
    />
  </div>
  <div class="form-group">
    <label for="authors_list">Authors:</label>
    <input type="text" formControlName="authors_list" required />
  </div>

  <div class="buttonGroup">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="addConfrenceForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
