<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      class="form-control"
      [(ngModel)]="user.email"
      name="email"
      required
      #email="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="email">Password:</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="user.password"
      name="password"
      required
      #password="ngModel"
    />
  </div>

  <div class="buttonGroup">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!heroForm.form.valid"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-default"
      (click)="newHero(); heroForm.reset()"
    >
      Reset
    </button>
  </div>
</form>
