#mainSection {
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    padding: 50px 30px;
}

#mainSection h1 {
    text-align: center;
    font-family: "Baloo Bhaina", cursive;
    font-size: 100px;
}
