#mainSection {
    margin: auto;
}

form .form-group {
    margin: 50px 0;
}

form .form-group label {
    font-size: 24px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
}

form .form-group input {
    height: 48px;
    padding: 8px 8px;
}

form .buttonGroup {
    width: 100%;
}

form .buttonGroup button {
    margin-right: 25px;
}
