<nav
  class="navbar navbar-expand-md sticky-top bg-dark navCustom"
  style="padding-bottom:0"
>
  <a
    routerLink="/home"
    routerLinkActive="active"
    class="navbar-brand"
    id="homeLink"
    >RecSys</a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#base-nav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="baseNav">
    <ul class="navbar-nav navbar-left" id="leftNav">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link"
          >Home</a
        >
      </li>
      <div class="dropdown">
        <li class="nav-item">
          <a href="#" class="nav-link"
            >Details<i class="fas fa-caret-down"></i
          ></a>
        </li>
        <div class="dropdown-content">
          <a routerLink="/details/1">BARC</a>
          <a routerLink="/details/2">LITREC</a>
          <a routerLink="/details/3">EAR</a>
          <a routerLink="/details/4">RPRS</a>
          <a routerLink="/details/5">DISCOVER</a>
          <a routerLink="/details/6">CNAVER</a>
          <a routerLink="/details/7">DRACOR</a>
          <a routerLink="/details/8">HDM</a>
        </div>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a href="#" class="nav-link"
            >Recommender<i class="fas fa-caret-down"></i
          ></a>
        </li>
        <div class="dropdown-content">
          <a routerLink="/recommender/query/barc">BARC Query</a>
          <a routerLink="/recommender/result/barc">BARC Result</a>
        </div>
      </div>
      <li class="nav-item">
        <a routerLink="/contact_us" routerLinkActive="active" class="nav-link"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
  <div *ngIf="isAuthenticated; else elseBlock">
    <ul class="navbar-nav navbar-right" id="rightNav">
      <li class="nav-item username">
        <a>{{ username }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/auth/logout" routerLinkActive="active" class="nav-link"
          >Logout</a
        >
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
    <ul class="navbar-nav navbar-right" id="rightNav">
      <li class="nav-item">
        <a routerLink="/auth/login" routerLinkActive="active" class="nav-link"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/auth/register"
          routerLinkActive="active"
          class="nav-link"
          >Signup</a
        >
      </li>
    </ul>
  </ng-template>
</nav>
