.navCustom {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
}

.navbar-nav > .nav-item {
    padding-left: 10px;
}

.nav-item > a,
.navbar-brand {
    color: white;
}

.navbar-left .nav-item > .active {
    border-bottom: 4px solid #ffffff;
}

#leftNav li a i {
    padding-left: 10px;
}

.navbar-right .nav-item {
    color: white;
}

.username {
    padding-top: 8px;
}

#homeLink {
    font-family: "Baloo Bhaina", cursive;
    font-size: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: #dadada;
}
