.navCustom {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    border-bottom: 4px solid linear-gradient(to right, #4e4376, #2b5876);
}

.navbar-nav > .nav-item {
    padding-left: 10px;
}

.nav-item > a,
.navbar-brand {
    color: white;
}

.navbar-left .nav-item > .active {
    border-bottom: 4px solid #ffffff;
}
