<nav
  class="navbar navbar-expand-md sticky-top bg-dark navCustom"
  style="padding-bottom:0"
>
  <!-- Brand-->
  <a href="#" class="navbar-brand" id="home-link">RecSys</a>

  <!--Toggle Button-->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#base-nav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Links-->
  <div class="collapse navbar-collapse" id="base-nav">
    <ul class="navbar-nav navbar-left" id="left-nav">
      <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Details</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Recommender</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right" id="right-nav">
      <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
    </ul>
  </div>
</nav>
