<footer class="homeFooter">
  <div class="leftFooter">
    <h3>Rec<span>Sys</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Contact</a>
    </p>
  </div>

  <div class="rightFooter">
    <p class="footer-company-about">
      <span>Dr Sukomal Pal</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>

  <div class="rightFooter">
    <p class="footer-company-about">
      <span>Mr Tribikram Pradhan</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
