<footer class="homeFooter">

  <div class="leftFooter">

    <h3>RecSys</h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">RecSys &copy; 2018 </p>
  </div>

  <div class="midFooter">

    <p class="footer-company-about">
      <span>Prof. S.Pal</span>
      Professor<br/>
      IIT Varanasi(BHU)
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>


  </div>

  <div class="rightFooter">

    <p class="footer-company-about">
      <span>Mr. TriBikram</span>
      PhD scholar<br/>
      IIT Varanasi(BHU)
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>