<div id="mainCard">
  <div class="searchCard">
    <div class="cardHeader">
      <span>TITLE</span>
      <span class="date">DATE</span>
      <br />
      <hr />
    </div>
    <div class="cardBody"></div>
  </div>
  <div class="searchCard">
    <div class="cardHeader">
      <span>TITLE</span>
      <span class="date">DATE</span>
      <br />
      <hr />
    </div>
    <div class="cardBody"></div>
  </div>
  <div class="searchCard">
    <div class="cardHeader">
      <span>TITLE</span>
      <span class="date">DATE</span>
      <br />
      <hr />
    </div>
    <div class="cardBody"></div>
  </div>
  <div class="searchCard">
    <div class="cardHeader">
      <span>TITLE</span>
      <span class="date">DATE</span>
      <br />
      <hr />
    </div>
    <div class="cardBody"></div>
  </div>
  <div class="searchCard">
    <div class="cardHeader">
      <span>TITLE</span>
      <span class="date">DATE</span>
      <br />
      <hr />
    </div>
    <div class="cardBody"></div>
  </div>
</div>
