#aboutUs {
    text-align: justify;
    font-family: "Nunito", sans-serif;
    color: #585858;
    width: 80%;
    margin-left: 10%;
}

#recDetails {
    text-align: justify;
    font-family: "Nunito", sans-serif;
    color: #585858;
    width: 80%;
    margin-left: 10%;
}
