@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h2 {
    padding-top: 80px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 54px;
}

.card {
    width: 1200px;
    height: 500px;
    background: transparent;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    order: -2;
    width: 25%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: 2px solid white;
    background: linear-gradient(to right, #4e4376, #2b5876);
    color: white;
    padding: 30px 15px;
}

.left .profilePic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 10px solid white;
    margin-bottom: 30px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    /* border-radius: 10px 0 0 10px; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
}

.basicList ul {
    list-style-type: none;
    padding: 0;
}

.basicList ul li > span {
    padding-right: 10px;
}

.linkList ul li > span {
    padding-right: 10px;
}

.linkList ul li span {
    font-family: "Fira Sans" sans-serif;
    font-weight: 600;
}

.right {
    order: -1;
    width: 75%;
    background: #ffffff;
    height: 100%;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
}
.right h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 10px;
    margin: 0;
    letter-spacing: 1px;
}
