<div id="cards">
  <div class="card">
    <div class="left">
      <div class="profilePic">
        <img src="https://cse-iitbhu.github.io/irlab/img/spalsir.jpg" />
      </div>
      <div class="basicList">
        <ul>
          <li>
            <span><i class="fas fa-briefcase"></i></span>
            <span>Assistant Professor</span>
          </li>
          <li>
            <span><i class="fas fa-home"></i></span>
            <span>Varanasi, U.P., India</span>
          </li>
          <li>
            <span><i class="fas fa-envelope"></i></span>
            <span>spal.cse@iitbhu.ac.in</span>
          </li>
          <li>
            <span><i class="fas fa-envelope"></i></span>
            <span>sukomalpal@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div id="cardTitle">
        <h1>Dr. Sukomal Pal</h1>
        <hr />
      </div>
      <div id="cardBody">
        <p>
          <b>Research Interests</b><br />
          Data Mining, Information Retrieval, XML Retrieval, IR Evaluation,
          Natural Language Processing<br />
          <b>Courses Taught/Teaching</b><br />
          Information Retrieval, Operating Systems, Advanced Operating Systems,
          Computer Organization, Internet Technology<br />
          Computer Programming, Probability Statistics, Database Management
          Systems, Internet Multimedia <br />
        </p>
      </div>
      <div id="linkList">
        <ul>
          <li>
            <span><i class="fab fa-google"></i></span>
            <span
              ><a
                href="https://scholar.google.co.in/citations?user=Tn9_Ma4AAAAJ&amp;hl=en"
                target="_blank"
                >Google Scholar</a
              ></span
            >
          </li>
          <li>
            <span><i class="fab fa-researchgate"></i></span>
            <span
              ><a
                href="https://www.researchgate.net/profile/Sukomal_Pal"
                target="_blank"
                >Research Gate</a
              ></span
            >
          </li>
          <li>
            <span><i class="fas fa-hand-pointer"></i></span>
            <span
              ><a
                href="https://dblp.uni-trier.de/pers/hd/p/Pal:Sukomal"
                target="_blank"
                >dblp</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="left">
      <div class="profilePic">
        <img
          src="https://cse-iitbhu.github.io/irlab/img/Tribikram_Pradhan.jpg"
        />
      </div>
      <div class="basicList">
        <ul>
          <li>
            <span><i class="fas fa-briefcase"></i></span>
            <span>Research Scholar</span>
          </li>
          <li>
            <span><i class="fas fa-home"></i></span>
            <span>Deogarh, Orissa, India</span>
          </li>
          <li>
            <span><i class="fas fa-envelope"></i></span>
            <span>tpradhan.rs.cse16@itbhu.ac.in</span>
          </li>
          <li>
            <span><i class="fas fa-envelope"></i></span>
            <span>tribikram14@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div id="cardTitle">
        <h1>Tribikram Pradhan</h1>
        <hr />

        <!-- <span><i class="fas fa-chevron-circle-down"></i></span> -->
      </div>
      <div id="cardBody">
        <p>
          <b> Area of Intrest:-</b> Recommender System, Social Network Analysis,
          Natural Language Processing and Machine Learning <br />
          <b> Courses Handled:-</b> Design and analysis of algorithms, Data
          Mining and Data ware Housing, Database System, Problem solving using
          computers, Software Engineering.<br />
          <b>Research Description:-</b>

          My current research work explores hybrid recommendation including
          collaborative filtering, content based filtering, semantic aware and
          context aware recommender system including . To investigate these
          problems, i am generally interested in topic oriented community
          detection, link prediction, learning heterogeneous bibliographic
          information network through citation ans co-citation analysis,
          question answering, summarization and other problems which can be
          posed as NLP and sequence to sequence tasks.
        </p>
      </div>
      <div id="linkList">
        <ul>
          <li>
            <span><i class="fab fa-google"></i></span>
            <span
              ><a
                href="https://scholar.google.co.in/citations?user=UBrLgeMAAAAJ&amp;hl=en"
                target="_blank"
                >Google Scholar</a
              ></span
            >
          </li>
          <li>
            <span><i class="fab fa-researchgate"></i></span>
            <span
              ><a
                href="https://www.researchgate.net/profile/Tribikram_Pradhan"
                target="_blank"
                >Research Gate</a
              ></span
            >
          </li>
          <li>
            <span><i class="fas fa-hand-pointer"></i></span>
            <span
              ><a
                href="https://dblp.uni-trier.de/pers/hd/p/Pradhan:Tribikram"
                target="_blank"
                >dblp</a
              ></span
            >
          </li>
          <li>
            <span><i class="fab fa-linkedin"></i></span>
            <span
              ><a
                href="https://www.linkedin.com/in/tribikram-pradhan-39a67290"
                target="_blank"
                >Linkedin</a
              ></span
            >
          </li>
          <li>
            <span><i class="fab fa-github"></i></span>
            <span
              ><a href="https://github.com/riteshiitbhu17" target="_blank"
                >github</a
              ></span
            >
          </li>
          <li>
            <span><i class="fas fa-hand-pointer"></i></span>
            <span
              ><a
                href="https://publons.com/author/650906/tribikram-pradhan#profile"
                target="_blank"
                >publons</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
