<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="model.name"
      name="name"
      required
      #name="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      class="form-control"
      [(ngModel)]="model.email"
      name="email"
      required
      #email="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="institute">Password:</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="model.password"
      name="password"
      required
      #password="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="institute">Confirm Password:</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="model.password"
      name="password"
      required
      #password="ngModel"
    />
  </div>

  <div class="buttonGroup">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!registerForm.form.valid"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-default"
      (click)="registerForm.reset()"
    >
      Reset
    </button>
  </div>
</form>
