#mainSection {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

h1 {
    border-radius: 5px;
    background: #dadada;
    text-align: center;
    color: #000;
    padding: 20px 0;
    font-family: "Baloo Bhaina", cursive;
    font-size: 50px;
}

p {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: "Fira Sans" sans-serif;
}

h2 {
    font-family: "Open Sans" sans-serif;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
}
