#mainSection {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

h1 {
    font-family: "Baloo Bhaina", cursive;
    font-size: 50px;
}

hr {
    margin-bottom: 50px;
}

.listCard {
    background: #dadada;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px auto;
}

.form-group label {
    font-family: "Baloo Bhaina", cursive;
    font-size: 24px;
    font-weight: 600px;
    display: block;
}

input {
    width: 500px;
    padding: 12px 20px;
    margin: 10px 0;
}

.listCard {
    background: #ffffff;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.cardHeader {
    font-size: 21px;
    font-weight: 600;
    color: #515151;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.date {
    float: right;
}

.cardBody {
    padding-left: 50px;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
}

.icon {
    display: inline-block;
    width: 50px;
}

.rowLabel {
    width: 150px;
    display: inline-block;
}
