#mainSection {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

h1 {
    font-family: "Baloo Bhaina", cursive;
    font-size: 50px;
}

hr {
    margin-bottom: 50px;
}

.listCard {
    background: #dadada;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px auto;
}
