<app-navbar></app-navbar>
<app-header></app-header>
<div id="mainSection">
  <h1>{{ recdetail.name }}</h1>
  <h2>Details</h2>
  <hr />
  <p>{{ recdetail.longDescription }}</p>
  <br />
  <h2>Features</h2>
  <hr />
  <ul>
    <li>Emerging topics identification</li>
    <li>Search Literatures</li>
    <li>Search top authors, top venues</li>
    <li>Identification of datasets and algorithms</li>
    <li>Active area identification</li>
  </ul>
  <br />
  <h2>Input Schema</h2>
  <hr />
  <br />
  <h2>Output Schema</h2>
  <hr />
  <br />
</div>
<app-footer></app-footer>
