footer {
    background-color: #292c2f;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid #000;
}

.name-inline {
    list-style: none;
    float: left;
    padding: 5px 50px;
}

.name-inline > li {
    display: inline-block;
    padding: 8px 8px;
    color: white;
    font-family: "Fira Sans" sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.name-inline > #brand {
    font-size: 30px;
    font-family: "Baloo Bhaina", cursive;
    color: white;
}

.list-inline {
    list-style: none;
    float: right;
    padding: 0 50px;
}

.list-inline > li {
    display: inline-block;
    padding: 8px 8px;
}

.social-icon a {
    background: #2a5788;
    color: #fff;
    padding: 4px 8px;
    height: 34px;
    width: 34px;
    display: block;
    border-radius: 50px;
}

.fa {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    font-size: 16px;
}
