<h2>Recommender Systems</h2>
<div id="cards">
  <div class="card" *ngFor="let detail of recdetails">
    <div class="left">
      <span class="recid">{{ detail.id }}.</span>
    </div>
    <div class="right">
      <div class="cardTitle">
        <h1>{{ detail.name }}</h1>
        <a routerLink="/details/{{ detail.id }}" class="recLinks">
          <span><i class="fas fa-3x fa-chevron-circle-right"></i></span>
        </a>
        <hr />
      </div>
      <div class="cardBody">
        <p>{{ detail.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
