@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h2 {
    padding-top: 80px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 54px;
}

.cards {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    justify-content: space-evenly;
}

.cards .card:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: auto;
    grid-row-end: auto;
}

.cards .card:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
}

.card {
    width: 1800px;
    height: 225px;
    background: transparent;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    order: -2;
    width: 12.5%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to right, #4e4376, #2b5876);
}

.left img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    position: relative;
}

.right {
    order: -1;
    width: 87.5%;
    background: #ffffff;
    height: 100%;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
}
.right h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0;
    padding-bottom: 0;
    letter-spacing: 1px;
}

.right span {
    float: right;
}
/* .right__details ul {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 10px 0 0 0;
}
.right__details ul li {
    display: inline;
    color: #e3e3e3;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 40px 0 0;
}

.right__review p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    padding: 0 40px 0 40px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
    line-height: 20px;
}
.right__review a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 0 0 0 40px;
    color: #ffda00;
    margin: 0;
} */
/* .right__button {
    padding: 0 0 0 40px;
    margin: 30px 0 0 0;
}
.right__button a {
    color: #ffda00;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #ffda00;
    padding: 10px 10px 10px 40px;
    font-size: 12px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 7% 50%;
    border-radius: 5px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.right__button a:hover {
    color: #000;
    background-color: #ffda00;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
} */
