@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h2 {
    padding-top: 80px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 54px;
}

.cards {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    justify-content: space-evenly;
}

.cards .card:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: auto;
    grid-row-end: auto;
}

.cards .card:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
}

.card {
    width: 1800px;
    height: 225px;
    background: transparent;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    order: -2;
    width: 12.5%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to right, #4e4376, #2b5876);
}

.left span {
    width: 100%;
    height: auto;
    font-size: 108px;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: 600;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    position: relative;
}

.right {
    order: -1;
    width: 87.5%;
    background: #ffffff;
    height: 100%;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
}
.right h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0;
    padding-bottom: 0;
    letter-spacing: 1px;
}

.right span {
    float: right;
}

.recLinks {
    text-decoration: none;
}
