<div id="sideCard">
  <div class="profile-name">
    <span class="name">Brian Adams</span>
    <br />
    <span class="job">Researcher</span>
  </div>
  <figure class="profile-image">
    <img src="https://cse-iitbhu.github.io/irlab/img/Tribikram_Pradhan.jpg" />
  </figure>
  <ul class="profile-information">
    <li>
      <p><span>Name:</span>Brian Adams</p>
    </li>
    <li>
      <p><span>Job:</span>Researcher</p>
    </li>
    <li>
      <p><span>Institute:</span>Oxford University</p>
    </li>
    <li>
      <p><span>Department:</span>Computer Science</p>
    </li>
    <li>
      <p><span>Email:</span>brian.adams.cse17@itbhu.ac.in</p>
    </li>
  </ul>
</div>
