#sideCard {
    border-radius: 10px;
    background: #ffffff;
    width: 100%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 100px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.profile-name {
    font-family: "Open Sans", sans-serif;
    padding: 25px 0 10px 25px;
}

.name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.profile-image {
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 91%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile-information {
    list-style-type: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

li p > span {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
