<div id="sideCard">
  <div class="profile-name">
    <span class="name">{{ info.full_name }}</span>
    <br />
    <span class="job">{{ role }}</span>
  </div>
  <figure class="profile-image">
    <img src="/assets/profile-pic.jpg" />
  </figure>
  <ul class="profile-information">
    <li>
      <p><span>Name:</span>{{ info.full_name }}</p>
    </li>
    <li>
      <p><span>Role:</span>{{ role }}</p>
    </li>
    <li>
      <p><span>DOB:</span>{{ info.dob }}</p>
    </li>
    <li>
      <p><span>Department:</span>{{ info.institution }}</p>
    </li>
    <li>
      <p><span>Email:</span>{{ info.email }}</p>
    </li>
  </ul>
</div>
