<div id="mainCard">
  <div class="eduCard">
    <div class="cardHeader">
      <span>HIGHEST DEGREE OF EDUCATION</span>
      <br />
      <hr />
    </div>
    <div class="cardBody">
      <p>
        <span class="icon"><i class="fas fa-lg fa-university"></i></span>
        <span class="rowLabel">Institute Name:</span>Researcher
      </p>
      <p>
        <span class="icon"><i class="far fa-lg fa-calendar-alt"></i></span>
        <span class="rowLabel">Academic Year:</span>Researcher
      </p>
      <p>
        <span class="icon"><i class="fas fa-lg fa-graduation-cap"></i></span>
        <span class="rowLabel">Degree:</span>Researcher
      </p>
    </div>
  </div>
  <div class="aoiCard">
    <div class="cardHeader">
      <span>AREA OF INTEREST</span>
      <br />
      <hr />
    </div>
    <div class="cardBody">
      <p>
        Recommender System, Social Network Analysis, Natural Language Processing
        and Machine Learning
      </p>
    </div>
  </div>
</div>
