<div id="mainCard">
  <div class="eduCard">
    <div class="cardHeader">
      <span>ABOUT</span>
      <br />
      <hr />
    </div>
    <div class="cardBody">
      <p>
        <span class="icon"><i class="fas fa-lg fa-graduation-cap"></i></span>
        <span class="rowLabel">Bio:</span>{{ profile.bio }}
      </p>
      <p>
        <span class="icon"><i class="fas fa-lg fa-university"></i></span>
        <span class="rowLabel">Institute Name:</span>{{ profile.institution }}
      </p>
      <p>
        <span class="icon"><i class="far fa-lg fa-calendar-alt"></i></span>
        <span class="rowLabel">Department:</span>{{ profile.department }}
      </p>
    </div>
  </div>
  <div class="aoiCard">
    <div class="cardHeader">
      <span>AREA OF INTEREST</span>
      <br />
      <hr />
    </div>
    <div class="cardBody">
      <ul>
        <li *ngFor="let aoi of profile.area_of_interest">{{ aoi }}</li>
      </ul>
    </div>
  </div>
  <div class="recentPubCard">
    <div class="cardHeader">
      <span>CONFRENCES</span>
      <span class="edit-icon" (click)="editMode(1)">
        <i class="fas fa-1x fa-pen-square"></i>
      </span>
      <br />
      <hr />
    </div>
    <div class="cardBody" *ngIf="inEditConfrenceMode; else elseBlockC">
      <add-confrences></add-confrences>
    </div>
    <ng-template #elseBlockC>
      <ul>
        <li *ngFor="let confrence of profile.confrences">
          <span>{{ confrence.title }}</span>
          <span class="date">{{ confrence.year }}</span>
          <span class="icon date"
            ><i class="far fa-lg fa-calendar-alt"></i
          ></span>
          <br />
          <br />
        </li>
      </ul>
    </ng-template>
  </div>
  <div class="recentPubCard">
    <div class="cardHeader">
      <span>JOURNALS</span>
      <span class="edit-icon" (click)="editMode(2)">
        <i class="fas fa-1x fa-pen-square"></i>
      </span>
      <br />
      <hr />
    </div>
    <div class="cardBody" *ngIf="inEditJounalMode; else elseBlockJ">
      <add-journals></add-journals>
    </div>
    <ng-template #elseBlockJ>
      <ul>
        <li *ngFor="let journal of profile.journals">
          <span>{{ journal.title }}</span>
          <span class="date">{{ journal.year }}</span>
          <span class="icon date"
            ><i class="far fa-lg fa-calendar-alt"></i
          ></span>
          <br />
          <span>{{ journal.journal }}</span>
          <br />
          <span *ngFor="let author of journal.authors_list">{{ author }}</span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
