<app-navbar></app-navbar>
<app-header></app-header>
<div id="mainSection">
  <div id="sideCard">
    <app-side-card></app-side-card>
  </div>
  <div id="mainCard">
    <nav id="innerNav">
      <a
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
      <a routerLink="./searches" routerLinkActive="active">Searches</a>
      <a routerLink="./edit" routerLinkActive="active" class="edit"
        ><i class="fas fa-2x fa-pen-square"></i
      ></a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
