<app-navbar></app-navbar>
<app-header></app-header>
<div id="mainSection">
  <h3>Dashboard</h3>
  <hr />
  <nav
    class="navbar navbar-expand-md sticky-top navCustom"
    style="padding-bottom:0"
    id="dashboardNav"
  >
    <div class="collapse navbar-collapse" id="baseNav">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
          <a
            routerLink="/user/dashboard"
            routerLinkActive="active"
            class="nav-link"
            >DashBoard</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/user/profile"
            routerLinkActive="active"
            class="nav-link"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/contact_us" routerLinkActive="active" class="nav-link"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<app-profile></app-profile>
<app-footer></app-footer>
