#des-para {
    visibility: visible;
    animation-name: zoomIn;
    text-align: justify;
}

.features {
    color: #676a6c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}
