<section id="description" class="features">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <h1 style="font-size:30px">About Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center wow zoomIn m-t-lg m-b-lg" id="des-para">
        <p>
          <span>
            This project is made with a simple aim in the mind - to make healthcare services affordable.<br>
            GenMed-Project is aimed at connecting the generic medicine shops to the consumers.
            There are many generic medicine shops in each city some owned and run by the govt. and other by individuals
            But people don't know about these stores and thus this alternative to high cost medications never strikes
            in their mind
            Here what i have tried to done is to make a web app that helps people find information related to generic
            medicine - like their branded names, shops which keep generic medicine and helps locate nearby shops where
            a particular generic medicine is available. <br><br>
          </span>
        </p>
        <p>
          <span>
            A generic medicine is a medication created to be the same as an already
            marketed brand-name drug in dosage form, safety, strength, route of
            administration, quality, performance characteristics, and intended use.
            These similarities help to demonstrate bioequivalence, which means
            that a generic medicine works in the same way and provides the same
            clinical benefit as its brand-name version. In other words, you can
            take a generic medicine as an equal substitute for its brand-name counterpart.
          </span>
        </p>
        <p>
          <span>
            But due to lack of awareness in our society most people don't know about generic medicines.
            Although it doesn't matter for the people who are well off but for the lower section of society
            who often give up on healthcare and treatment due to the high cost of medication and equipments
            these medicines can be a life saver.
          </span>
        </p>
        <p>
          <span>

          </span>
        </p>
      </div>
    </div>
  </div>
</section>